<p>We are editing food.</p>
{{model.name}}

<p>Name: {{input value=model.name}}</p>

<p>Description: {{textarea value=model.description class="medium-text-area"}}</p>

<p>Image Url: {{input value=model.imageUrl}}</p>

{{icon-image model.imageUrl left=false}}

<br />
<p>
  {{#x-select value=model.course}}
    {{#x-option value="Appetizer"}}Appetizer{{/x-option}}
    {{#x-option value="Entree"}}Entree{{/x-option}}
    {{#x-option value="Dessert"}}Dessert{{/x-option}}
    {{#x-option value="Beverage"}}Beverage{{/x-option}}
  {{/x-select}}
</p>

<br />

<button {{action 'save'}}>Save</button>
